<h1>Home</h1>
<% if signed_in? %>
<%= current_user.name %>
<%= link_to "Sign out", signout_path, method: "delete" %>

<% if current_user.dropbox_access_key != nil %>
Your account is linked to Dropbox.
<%= link_to "Your Replays Page", user_path(current_user.id) %>
<% else %>
Your account is not linked to Dropbox.
<%= link_to "Link your account now", authorize_path %>
<% end %>

<% else %>
<%= link_to "Sign in", signin_path %>
<% end %>