<h1>Show User</h1>
Name: <%= current_user.name %><br/>

<% @replays.each do |replay| %>
Date: <%= replay.time %><br/>
Player 1: <%= replay.player1name %><br/>
Player 2: <%= replay.player2name %><br/>
<%= link_to "Download Replay", download_path(replay.id) %>
<br/>
<br/>
<% end %>